.dad:hover .child {
  height: 200px;
}
.anim {
  animation: abc 5s ease-in-out infinite;
}

@keyframes abc {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}
